# Función map()

In [14]:
numeros = [2, 5, 10, 23, 50, 33]

def doblar(numero):
    return numero *2

map(doblar, numeros)

In [16]:
m = map(doblar, numeros)

In [11]:
next(m)

4

In [12]:
next(m)

10

In [17]:
list(m)

[4, 10, 20, 46, 100, 66]

In [18]:
list(map( lambda x: x*2, numeros ))

[4, 10, 20, 46, 100, 66]

In [19]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]

list(map(lambda x,y: x*y, a,b))

[6, 14, 24, 36, 50]

In [20]:
c = [11, 12, 13, 14 ,15]

list(map(lambda x,y,z: x*y*z, a, b, c))

[66, 168, 312, 504, 750]

In [22]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
    
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

personas = [
    Persona("Juan", 35),
    Persona("Martha", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

personas

[<__main__.Persona at 0x2501ff823d0>,
 <__main__.Persona at 0x250204e05e0>,
 <__main__.Persona at 0x250204e05b0>,
 <__main__.Persona at 0x2501ffe8580>]

In [23]:
def incrementar(persona):
    persona.edad +=1 
    return persona

personas = map(incrementar, personas)

In [24]:
for persona in personas:
    print(persona)

Juan de 36 años
Martha de 17 años
Manuel de 79 años
Eduardo de 13 años

In [31]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
    
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)

personas = [
    Persona("Juan", 35),
    Persona("Martha", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

personas = map(lambda persona: Persona(persona.nombre, persona.edad+1), personas)

In [32]:
for persona in personas:
    print(persona)

Juan de 36 años
Martha de 17 años
Manuel de 79 años
Eduardo de 13 años